//Custom style for 404 error page

.error-container
{
  padding: 45px 0;
  justify-content: center;
  text-align: center;
}
.page-error
{
  justify-content: center;
}
.page-error-picture {
  padding: 40px;
}