
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 2rem 1rem;
  margin-top: 2rem;
  list-style: none;
}
.navbar-brand {
  display: inline-block;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 2rem;
  margin-left: 2rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}


//logo: Rololux Ns
.rololux{
  text-transform: uppercase;
  font-family: "Amble", sans-serif ;
  font-weight: bolder;
  font-size: 50px;
  color: #c12e2a;
  text-shadow: 2px 2px 50px rgba(215, 215, 215, 0.4);
}
.ns{
  text-transform: uppercase;
  font-family:"Amble", sans-serif ;
  font-size: 50px;
  color: #eceeef;
  text-shadow: 2px 2px 50px rgba(147, 147, 147, 0.4);
}
.dropdown-item, .nav-link  {
  text-transform: uppercase;
  font-family: "Amble", sans-serif;
  font-size: 18px;
  font-weight: normal;
}

@media only screen and (max-width: 600px) {

  .rololux{
    font-size: 25px;
  }
  .ns{
    font-size: 25px;
  }
  .navbar-brand {

    margin-left: 1rem;
  }

}