* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #1d1e1f;
  width: 100%;
}
a, area, button, [role="button"], input, label, select, summary, textarea {
  cursor: pointer;
}
.thumb-text:hover p:hover {
  text-decoration: none;
}
.container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.text_info{
  color: rgba(0, 0, 0, 0.71);
  margin: 0 10px 0px 10px ;
  padding-top: 30px ;
}
.o_nama{
  background-color: #c7c7c7;
}

.album {
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: #c7c7c7;
}
.album_h2{
  font-family: "Amble", sans-serif;
  padding: 0.8rem 0 0.8rem 2rem;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  background-color: #292b2c;
  color: white;
}
.thumb{
  color: white;
}
.img-thumbnail:hover{
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  width: 100%;
}
.thumb-text p{
  color:white;
}
.card-home {
  float: left;
  width: 25%;
  margin: 1%;
  background-color: rgba(242, 161, 23, 0.11);
  border: 2px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.min-container {
  text-align: center;
  margin:  0 10% 0 10%;
}

.card-text {
  font-family: "Amble", sans-serif;
  font-size: 100%;
  text-transform: uppercase;
}

.icon{
  display: inline;
  padding: 20px 0 20px 0;
}

.slider {
  background-size: cover;
  width: 100%;
  height: 500px;
}

#slider {
  background-image: url('/img/slider/pic1.jpg');
  background-position: bottom;
  @extend .slider;
}

#slider1 {
  background-image: url('/img/slider/pic2.jpg');
  background-position: center;
  @extend .slider;
}

#slider2 {
  background-image: url('/img/slider/pic3.jpg');
  background-position: center;
  @extend .slider;
}
#slider3 {
  background-image: url('/img/slider/pic4.jpg');
  background-position: center;
  @extend .slider;
}


.carousel-caption{
  font-family: "Amble", sans-serif;
  color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.31);
  margin: 10px 15px 10px 15px;
}

.contact-container {
  background-color: #edefe9;
  justify-content: center;
  padding: 50px;

}

iframe{
  padding: 2%;
  width: 100%;
  height: 400px;
}

.maps iframe {
  pointer-events: none;
}

@media only screen and (max-width: 600px) {

  iframe {
    height: 200px;
  }

}

@media only screen and (max-width: 320px) {


  .slider {
    height: 200px;
  }
}
