//This css Applies to all 9 pages in Nasa Ponuda

h1 h2 h3 h4 h5 h6{
  font-family: "Amble" ;
}
.carousel-width{
  width: 100%;
  height: 320px;
  margin: auto auto;
  background: rgba(0, 0, 0, 0.81)
}
.img-size-roletne{
  margin: auto auto;
  width: 600px;
  height: 320px;
}
.section-text{
  width: 100%;
  padding: 30px 0 30px 30px;
  margin: 30px 0 0 0;
  background-color: rgb(245, 245, 245);
}
.card{
  margin: 30px 0 0 0px;
  width: 18rem;
  border: 2px solid rgba(0,0,0,.125);
  background-color: #c12e2a;
  border-radius: .25rem;
  color: #e3e3e3;
}
li .color{
  list-style-position:inside;
}

.slider {
  background-size: cover;
  width: 1140px;
  height: 500px;
}

//slider css for roletne page
#slider_roletne1 {
  background-image: url('/img/roletne/rol1.jpg');
  background-position: bottom;
  @extend .slider;
}

#slider_roletne2 {
  background-image: url('/img/roletne/role2.jpg');
  background-position: center;
  @extend .slider;
}

#slider_roletne3 {
  background-image: url('/img/roletne/rol3.jpg');
  background-position: center;
  @extend .slider;
}
#slider_roletne4 {
  background-image: url('/img/roletne/rol4.jpg');
  background-position: center;
  @extend .slider;
}
#slider_roletne5 {
  background-image: url('/img/roletne/rol5.jpg');
  background-position: bottom;
  @extend .slider;
}

#slider_roletne6 {
  background-image: url('/img/roletne/rol6.jpg');
  background-position: center;
  @extend .slider;
}

#slider_roletne7 {
  background-image: url('/img/roletne/rol7.jpg');
  background-position: center;
  @extend .slider;
}
#slider_roletne8 {
  background-image: url('/img/roletne/rol8.jpg');
  background-position: center;
  @extend .slider;
}
#slider_roletne9{
  background-image: url('/img/roletne/rol9.jpg');
  background-position: center;
  @extend .slider;
}

//slider css for tende page
#slider_tende1 {
  background-image: url('/img/tende/tenda.jpg');
  background-position: bottom;
  @extend .slider;
}

#slider_tende2 {
  background-image: url('/img/tende/tenda2.jpg');
  background-position: center;
  @extend .slider;
}

#slider_tende3 {
  background-image: url('/img/tende/tenda3.jpg');
  background-position: center;
  @extend .slider;
}
#slider_tende4 {
  background-image: url('/img/tende/tenda4.jpg');
  background-position: center;
  @extend .slider;
}
#slider_tende5 {
  background-image: url('/img/tende/tenda5.jpg');
  background-position: bottom;
  @extend .slider;
}

#slider_tende6 {
  background-image: url('/img/tende/tenda6.jpg');
  background-position: center;
  @extend .slider;
}

#slider_tende7 {
  background-image: url('/img/tende/tenda7.jpg');
  background-position: center;
  @extend .slider;
}
#slider_tende8 {
  background-image: url('/img/tende/tenda8.jpg');
  background-position: center;
  @extend .slider;
}
#slider_tende9{
  background-image: url('/img/tende/tenda9.jpg');
  background-position: center;
  @extend .slider;
}
#slider_tende10{
  background-image: url('/img/tende/tenda10.jpg');
  background-position: center;
  @extend .slider;
}
#slider_tende11{
  background-image: url('/img/tende/tenda11.jpg');
  background-position: center;
  @extend .slider;
}
//slider css for venecijaneri page
#slider_venecijaneri1 {
  background-image: url('/img/venecijaneri/ven1.jpg');
  background-position: bottom;
  @extend .slider;
}

#slider_venecijaneri2 {
  background-image: url('/img/venecijaneri/ven2.jpg');
  background-position: center;
  @extend .slider;
}

#slider_venecijaneri3 {
  background-image: url('/img/venecijaneri/ven3.jpg');
  background-position: center;
  @extend .slider;
}
#slider_venecijaneri4 {
  background-image: url('/img/venecijaneri/ven4.jpg');
  background-position: center;
  @extend .slider;
}
#slider_venecijaneri5 {
  background-image: url('/img/venecijaneri/ven5.jpg');
  background-position: bottom;
  @extend .slider;
}

#slider_venecijaneri6 {
  background-image: url('/img/venecijaneri/ven6.jpg');
  background-position: center;
  @extend .slider;
}

#slider_venecijaneri7 {
  background-image: url('/img/venecijaneri/ven7.jpg');
  background-position: center;
  @extend .slider;
}
#slider_venecijaneri8 {
  background-image: url('/img/venecijaneri/ven8.jpg');
  background-position: center;
  @extend .slider;
}
#slider_venecijaneri9{
  background-image: url('/img/venecijaneri/ven9.jpg');
  background-position: center;
  @extend .slider;
}
#slider_venecijaneri10{
  background-image: url('/img/venecijaneri/ven10.jpg');
  background-position: center;
  @extend .slider;
}
#slider_venecijaneri11 {
  background-image: url('/img/venecijaneri/ven11.jpg');
  background-position: center;
  @extend .slider;
}
//slider css for rolozavese page
#slider_rolozavese1 {
  background-image: url('/img/rolozavese/rol.jpg');
  background-position: bottom;
  @extend .slider;
}

#slider_rolozavese2 {
  background-image: url('/img/rolozavese/ro2.jpg');
  background-position: center;
  @extend .slider;
}

#slider_rolozavese3 {
  background-image: url('/img/rolozavese/ro3.jpg');
  background-position: center;
  @extend .slider;
}
#slider_rolozavese4 {
  background-image: url('/img/rolozavese/ro4.jpg');
  background-position: center;
  @extend .slider;
}
#slider_rolozavese5 {
  background-image: url('/img/rolozavese/ro5.jpg');
  background-position: bottom;
  @extend .slider;
}

#slider_rolozavese6 {
  background-image: url('/img/rolozavese/ro6.jpg');
  background-position: center;
  @extend .slider;
}

#slider_rolozavese7 {
  background-image: url('/img/rolozavese/ro7.jpg');
  background-position: center;
  @extend .slider;
}
#slider_rolozavese8 {
  background-image: url('/img/rolozavese/ro8.jpg');
  background-position: center;
  @extend .slider;
}
#slider_rolozavese9{
  background-image: url('/img/rolozavese/ro9.jpg');
  background-position: center;
  @extend .slider;
}

//slider css for trakakste zavese page
#slider_trakastezavese1 {
  background-image: url('/img/trakastezavese/trazavese.jpg');
  background-position: bottom;
  @extend .slider;
}

#slider_trakastezavese2 {
  background-image: url('/img/trakastezavese/tz2.jpg');
  background-position: center;
  @extend .slider;
}

#slider_trakastezavese3 {
  background-image: url('/img/trakastezavese/tz3.jpg');
  background-position: center;
  @extend .slider;
}
#slider_trakastezavese4 {
  background-image: url('/img/trakastezavese/tz4.jpg');
  background-position: center;
  @extend .slider;
}
#slider_trakastezavese5 {
  background-image: url('/img/trakastezavese/tz5.jpg');
  background-position: bottom;
  @extend .slider;
}

#slider_trakastezavese6 {
  background-image: url('/img/trakastezavese/tz6.jpg');
  background-position: center;
  @extend .slider;
}

#slider_trakastezavese7 {
  background-image: url('/img/trakastezavese/tz7.jpg');
  background-position: center;
  @extend .slider;
}
#slider_trakastezavese8 {
  background-image: url('/img/trakastezavese/tz8.jpg');
  background-position: center;
  @extend .slider;
}
#slider_trakastezavese9{
  background-image: url('/img/trakastezavese/tz9.jpg');
  background-position: center;
  @extend .slider;
}
#slider_trakastezavese10{
  background-image: url('/img/trakastezavese/tz10.jpg');
  background-position: center;
  @extend .slider;
}
#slider_trakastezavese11 {
  background-image: url('/img/trakastezavese/tz11.jpg');
  background-position: center;
  @extend .slider;
}

//slider css for komarnici page
#slider_komarnici1 {
  background-image: url('/img/komarnici/komarnici.jpg');
  background-position: bottom;
  @extend .slider;
}

#slider_komarnici2 {
  background-image: url('/img/komarnici/kom2.jpg');
  background-position: center;
  @extend .slider;
}

#slider_komarnici3 {
  background-image: url('/img/komarnici/kom3.jpg');
  background-position: center;
  @extend .slider;
}

//slider css for dihtovanje page
#slider_dihtovanje1 {
  background-image: url('/img/diht/dihtovanje.jpg');
  background-position: bottom;
  @extend .slider;
}

#slider_dihtovanje2 {
  background-image: url('/img/diht/dih1.jpg');
  background-position: center;
  @extend .slider;
}

#slider_dihtovanje3 {
  background-image: url('/img/diht/dih2.jpg');
  background-position: center;
  @extend .slider;
}
#slider_dihtovanje4 {
  background-image: url('/img/diht/dih3.jpg');
  background-position: center;
  @extend .slider;
}
#slider_dihtovanje5 {
  background-image: url('/img/diht/dih4.jpg');
  background-position: bottom;
  @extend .slider;
}

#slider_dihtovanje6 {
  background-image: url('/img/diht/dih5.jpg');
  background-position: center;
  @extend .slider;
}

#slider_dihtovanje7 {
  background-image: url('/img/diht/dih6.jpg');
  background-position: center;
  @extend .slider;
}

//slider css for servis page
#slider_servis1 {
  background-image: url('/img/servis/servis.jpg');
  background-position: center;
  @extend .slider;
}

#slider_servis2 {
  background-image: url('/img/servis/servisiranje.jpg');
  background-position: center;
  @extend .slider;
}

//slider css for adaptacija prostora page
#slider_adaptacija1 {
  background-image: url('/img/adaptacija/adap.jpg');
  background-position: bottom;
  @extend .slider;
}

#slider_adaptacija2 {
  background-image: url('/img/adaptacija/ada2.jpg');
  background-position: center;
  @extend .slider;
}

#slider_adaptacija3 {
  background-image: url('/img/adaptacija/ada3.jpg');
  background-position: center;
  @extend .slider;
}
